.profile{
	width: 200px;
	margin: 40px auto;
	padding: 10px;
	text-align: center;
	border: 2px solid black;

}
.description{
	margin-bottom: 15px;

}
.avatar{
	width: 50px;
	height: 50px;

}
.name{
font-weight: 500;
margin-bottom: 5px;
}
.tag{
	margin-top: 0;
	margin-bottom: 10px;

}
.location{
	margin-bottom: 10px;
	
}
.stats{
list-style: none;
padding: 5px;
text-align: left;
background-color: beige;
}
.label{
	font-weight: 500;
}
li + li{
	margin-top: 10px;
}
.quantity{
margin-left: 10px;
}