.friendList{
list-style: none;
display: flex;
justify-content: center;
align-items: flex-end;
margin-bottom: 40px;
}
.item + .item {
	margin-left: 30px;
}
.status{
display: block;
width: 5px;
height: 5px;
background-color: violet;
border-radius: 50%;
}
.avatar{

}
.name{
margin-top: 5px;
text-align: center;
}